{{
    sponsors_data = [
#        {
#            'name':_(''),
#            'url':'',
#            'logo':'',
#            'description':[
#                _(''),
#                _(''),
#            ],
#            'level':,
#            'where':'',
#        },
      {
            'name':_('Google'),
            'url':'http://www.google.com/',
            'logo':'images/sponsors/google.png',
            'description':[
                _('Google是一家以提供搜索服务、并向企业客户提供广告服务为重点的盈利公司。Google以其搜索迅速、准确、容易使用等特点，被公认为是世界最佳搜索引擎。'),
            ],
            'level':1,
            'where':'bj,sh',
            'order':1,
        },
        {
            'name':_('金山网络'),
            'url':'http://www.ijinshan.com/',
            'logo':'images/sponsors/jinshan.gif',
            'description':[
                _('金山网络科技有限公司成立于2010年11月，总部位于北京，其前身是金山安全软件有限公司和可牛科技有限公司。两家公司于2010年10月完成合并整合，成立了全新的金山网络科技有限公司。金山网络科技有限公司继承了金山安全强大的研发实力和可牛科技对互联网产品的敏锐反应能力，为上亿互联网用户提供以安全为核心的多种互联网应用服务。金山安全实验室及金山网络研发中心设立在珠海。'),
            ],
            'level':3,
            'where':'bj',
            'order':1,
        },
        {
            'name':_('易度云办公'),
            'url':'http://everydo.com/',
            'logo':'images/sponsors/yidu.gif',
            'description':[
                _('广州润普网络科技有限公司( http://zopen.cn )自2002年成立以来，立足于开放源代码软件的专业技术开发与服务。为客户提供基于Zopen/Plone等开放源代码软件的企业内容管理、项目管理、文档管理、知识管理和产品解决方案，提供信息系统咨询、开发、支持等服务，以及Zopen/Plone的培训服务。'),
            ],
            'level':3,
            'where':'sh',
            'order':8,
        },
        {
            'name':_('图灵社区'),
            'url':'http://www.ituring.com.cn',
            'logo':'images/sponsors/turingbook.gif',
            'description':[
                _('北京图灵文化发展有限公司成立于2005年6月，由人民邮电出版社投资控股，以策划出版高质量的科技书籍为核心业务，主要出版领域包括计算机、电子电气、数学统计、科普等，公司以促进科技发展为己任，通过引进国际高水平的教材、专著，以及发掘国内优秀原创作品等方式，为目标读者提供一流的内容。经过短短几年的发展，图灵公司已经成为计算机出版行业里较有影响的出版单位。公司推出了一系列高质量的畅销技术图书，如《C++ Primer中文版》、《UNIX环境高级编程》、《Linux程序设计》等，都已经成为深受广大程序员欢迎的经典著作，公司对于计算机技术发展趋势有较强的把握能力和独到的眼光，出版的图书紧跟各种技术的发展，及时满足了行业需要。在电子电气领域，公司出版了一系列国际知名专家的著作，不少作者是IEEE资深会士和业界精英。在数学方面，公司翻译和影印了一大批获菲尔兹奖和沃尔夫奖的数学家的作品，有力地开拓了读者的视野。'),
            ],
            'level':4,
            'where':'bj,sh',
            'order':2,
        },
        {
            'name':_('遛宝网'),
            'url':'http://www.liubao.com/',
            'logo':'images/sponsors/liubao_2012.jpg',
            'description':[
                _('遛宝开源平台，不只是免费的虚拟主机，我们致力于通过领先科技，来释放我们所有关于 python 的梦想，次世代技术让曾经难以置信的应用类型在今天即可完美呈现。开放平台更可以让您无拘无束地进行创造，通过平台的各项接口以及源码，您可以轻易在平台上创作网站及应用，甚至改变平台本身。除此之外，遛宝开放的运营政策允许您在平台上经营您的产品，通过平台的运营功能，在为您的用户创造幸福的同时，实现自己的幸福。忠于实用之美，亦或乐于尝鲜新、奇、酷，开创一片新天地，就是遛宝开源平台。'),
            ],
            'level':5,
            'where':'sh',
        },
        {
            'name':_('博文视点'),
            'url':'http://www.broadview.com.cn/',
            'logo':'images/sponsors/broadview.png',
            'description':[
                _('电子工业出版社计算机图书出版分社优势整合了电子社旗下三大公司——博文视点、易飞思、华信卓越的计算机图书出版的精锐力量，合并了各自运营的计算机图书出版业务，强调计算机图书出版业核心竞争力，力求为我们的读者提供更多、更好、更专业的计算机图书出版物，力求为我们的作者提供服务更优质、增值更快的出版服务平台，力求为我国的IT业发展贡献自己的力量。'),
            ],
            'level':4,
            'where':'bj,sh',
            'order':3,
        },

    ]
    
    media_data = [
        {
            'name':_('InfoQ'),
            'url':'http://www.infoq.com/',
            'logo':'images/sponsors/infoq.gif',
            'description':[
                _('InfoQ.com（Information Queue）是一个时刻关注企业软件开发领域变化与创新的在线独立社区，读者受众群主要为技术架构师、技术团队带头人（高级开发人员）和项目经理等。通过由各个技术领域专家提供的最新的新闻、技术文章、视频访谈、视频演讲和迷你书等，InfoQ 为Java、.NET、Ruby、SOA、敏捷、架构和运维七大社区提供一流的资讯。InfoQ全球站正式启动于2006年6月8日，InfoQ中文站正式启动于2007年3月28日，以推动我们所服务的社区的进步为首要使命。'),
            ],
            'level':'',
            'where':'',
        },
        
    ]

    schedule_zh_1208 = [
        ('08:30 - 09:15', _('签到')),
        ('09:15 - 09:30', _('开场'), _('组织者&赞助商'), _('包括来自赞助商Google，主办方GDG, TopGeek, CPyUG, ...进行组织介绍。')),
        ('09:30 - 09:35', _('大会致辞  '), _('Zoom.Quiet')),
        ('09:35 - 10:00', _('Video联播《世界Pythonista 的短片》'), _('各国Pythoner'), _('播放来自国外的Pythonner 祝贺...')),
        ('10:00 - 10:45', _('(主题演讲)'), _('Zoom.Quiet'), _(' ')),
        ('10:50 - 11:35', _('(主题演讲)'), _('Zoom.Quiet')),
        ('11:50 - 13:30', _('午餐/Jeff乐队助兴!')),
        ('13:00 - 13:30', _('(主题演讲)'), _('Zoom.Quiet'), _(' ')),
        ('13:30 - 14:00', _('(主题演讲)'), _('Zoom.Quiet'), _(' ')),
        ('14:15 - 14:45', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('14:45 - 14:55', _('休息/抽奖')),
        ('14:55 - 15:10', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('15:10 - 15:25', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('15:25 - 15:40', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('15:40 - 16:10', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('16:10 - 16:20', _('休息/抽奖')),
        ('16:20 - 16:35', _('(快速演讲)'), _('Zoom.Quiet')),
        ('16:35 - 16:50', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('16:50 - 17:05', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('17:05 - 17:20', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('17:20 - 17:35', _('(快速演讲)'), _('Zoom.Quiet')),
        ('17:35 - 17:45', _('休息/抽奖')),
        ('17:45 - 18:20', _('(快速演讲)'), _('Zoom.Quiet')),
        ('18:20 - 18:30', _('结束 抽奖')),
        ('19:00 - 21:00', _('把酒英雄'), _('Python 爱好者与嘉宾们晚宴'), _('Python 参会者们与嘉宾们在晚餐桌上继续深度沟通和交流。完全开发，全互动沟通。注意，这个晚宴人人都可报名参加，但是需要支付自己的餐费（即AA制）。')),
    ]
    
    schedule_sh_1208 = [
        ('08:30 - 09:15', _('签到')),
        ('09:15 - 09:30', _('开场'), _('组织者 & 赞助商'), _('包括来自赞助商 Google、主办方 GDG、TopGeek、CPyUG 的代表进行组织介绍。')),
        ('09:30 - 09:35', _('大会致辞'), _('陈世欣')),
        ('09:35 - 10:00', _('Video 联播《世界各国 Python 高手的演讲》'), _('各国 Pythoner')),
        ('10:00 - 10:45', _('DAE系统的设计(主题演讲)'), _('洪强宁'), _(' ')),
        ('10:50 - 11:35', _('Ryan 分布式设计(主题演讲)'), _('Glow')),
        ('11:50 - 13:00', _('午餐!')),
        ('13:00 - 13:30', _('Python 社区产品的更新(主题演讲)'), _('Hsiaoming Yang & KJ'), _(' ')),
        ('13:30 - 14:00', _('编程教室的一些故事(主题演讲)'), _('袁昕'), _(' ')),
        ('14:15 - 14:45', _('Robot Operating System 机器人系统简介 (快速演讲)'), _('赵磊'), ''),
        ('14:45 - 14:55', _('休息/抽奖')),
        ('14:55 - 15:10', _('如何在自己的机器上运行OpenERP(Codelab)'), _('???'), _(' ')),
        ('15:10 - 15:25', _('如何在自己的机器上运行OpenStack(Codelab)'), _('??'), _(' ')),
        ('15:25 - 15:40', _('(快速演讲)'), _(' '), _(' ')),
        ('15:40 - 16:10', _('(快速演讲)'), _(' '), _(' ')),
        ('16:10 - 16:20', _('休息/抽奖')),
        ('16:20 - 16:35', _('(快速演讲)'), _(' ')),
        ('16:35 - 16:50', _('(快速演讲)'), _(' '), _(' ')),
        ('16:50 - 17:05', _('(快速演讲)'), _(' '), _(' ')),
        ('17:05 - 17:20', _('(快速演讲)'), _(' '), _(' ')),
        ('17:20 - 17:35', _('(快速演讲)'), _(' ')),
        ('17:35 - 17:45', _('休息/抽奖')),
        ('17:45 - 18:20', _('(快速演讲)'), '...'),
        ('18:20 - 18:30', _('结束 抽奖')),
        ('19:00 - 21:00', _('把酒英雄'), _('Python 爱好者与嘉宾们晚宴'), _('Python 参会者们与嘉宾们在晚餐桌上继续深度沟通和交流。完全开发，全互动沟通。注意，这个晚宴人人都可报名参加，但是需要支付自己的餐费（即AA制）。')),
    ]   
    
    schedule_cd_1208 = [
        ('08:30 - 09:20', _('签到')),
        ('09:15 - 09:30', _('开场'), _('组织者&赞助商'), _('包括来自赞助商Google，主办方GDG, TopGeek, CPyUG, ...进行组织介绍。')),
        ('09:30 - 09:35', _('大会致辞  '), _('David Xie')),
        ('09:35 - 10:00', _('Video联播《世界Pythonista 的短片》'), _('各国Pythoner'), _('播放来自国外的Pythonner 祝贺...')),
        ('10:00 - 10:45', _('(主题演讲)'), _('大妈'), _(' ')),
        ('10:50 - 11:35', _('(主题演讲)'), _('Zoom.Quiet')),
        ('11:50 - 13:30', _('午餐/社交时间')),
        ('13:30 - 14:00', _('(主题演讲)'), _('Zoom.Quiet'), _(' ')),
        ('14:15 - 14:45', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('14:45 - 14:55', _('休息/抽奖')),
        ('14:55 - 15:10', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('15:10 - 15:25', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('15:25 - 15:40', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('15:40 - 16:10', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('16:10 - 16:20', _('休息/抽奖')),
        ('16:20 - 16:35', _('(快速演讲)'), _('Zoom.Quiet')),
        ('16:35 - 16:50', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('16:50 - 17:05', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('17:05 - 17:20', _('(快速演讲)'), _('Zoom.Quiet'), _(' ')),
        ('17:20 - 17:35', _('(快速演讲)'), _('Zoom.Quiet')),
        ('17:35 - 17:45', _('休息/抽奖')),
        ('17:45 - 18:20', _('(快速演讲)'), _('Zoom.Quiet')),
        ('18:20 - 18:30', _('结束 抽奖')),
        ('19:00 - 21:00', _('把酒英雄'), _('Python 爱好者与嘉宾们晚宴'), _('Python 参会者们与嘉宾们在晚餐桌上继续深度沟通和交流。完全开发，全互动沟通。注意，这个晚宴人人都可报名参加，但是需要支付自己的餐费（即AA制）。')),
    ]
    

    
    def _cmp(x, y):
       return cmp((x['level'], x.get('order', 999)), (y['level'], y.get('order', 999)))
    pass
    
    levels = {
        1: ('images/diamond.png', _('钻石赞助')),
        2: ('images/platinum.png', _('白金赞助')),
        3: ('images/gold.png', _('黄金赞助')),
        4: ('images/silver.png', _('白银赞助')),
        5: ('images/bronze.png', _('青铜赞助')),
    }
    def get_data(data):
        for x in sorted(data, cmp=_cmp):
            x['level_image'], x['level_title'] = levels.get(x['level'], ('', ''))
            yield x
        pass
    pass
}}

{{def put_data(data, step=5):}}
    <table class="table">
        {{rows = list(get_data(data))}}
        {{for index in range(0, len(rows), step):}}
            <tr>
                {{for row in rows[index:index+step]:}}
                    <td><a target="_blank" href="{{=row.get('url', '#')}}"><img src="{{=url_for_static(row.get('logo', ''))}}" alt="{{=row['name']}}" width="150" style="max-height:80px;"/></a></td>
                {{pass}}
            </tr><!--END grid-->
        {{pass}}
    </table>
{{pass}}
