{{extend "layout.html"}}

{{block menu}}
  {{menu('shanghai','MENUS2013')}}
{{end}}

{{block meta}}
<script type="text/javascript">
    LANG = "{{=_('cn')}}"
</script>
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/schedule.css')}}" />
{{include "inc_schedule.html"}}
{{include "SiteView2013/inc_data.html"}}
{{end}}

{{block content}}
	<h2 class="section-title">PyConChina_上海</h2>
	<h4>时间: <small>2013年12月08日 09:00 ~ 17:00</small></h4>
	<h4>地点: <small>浦东新区博云路2号浦软大厦</small></h4>
	
    <h2 class="section-title">{{=_('日程安排 (确认~60%)')}}</h2>
    {{for data, d in [(schedule_sh_1208, _('2013年12月08日(星期日)'))
        ]:}}
        {{write_schedule(data, d)}}
    {{pass}}
{{end}}
