{{extend "layout.html"}}

{{block menu}}
  {{menu('zhuhai','MENUS2013')}}
{{end}}

{{block meta}}
<script type="text/javascript">
    LANG = "{{=_('cn')}}"
</script>
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/schedule.css')}}" />
{{include "inc_schedule.html"}}
{{include "SiteView2013/inc_data.html"}}
{{end}}

{{block content}}

    <h2 class="section-title">{{=_('珠海日程安排 (确认~30%)')}}</h2>

    {{for data, d in [(schedule_zh_1208, _('2013年12月8日(星期日)')), 
        ]:}}
        {{write_schedule(data, d)}}
    {{pass}}

{{end}}
