{{extend "layout.html"}}

{{block menu}}
  {{menu('zhuhai','MENUS2013')}}
{{end}}

{{block meta}}
<script type="text/javascript">
    LANG = "{{=_('cn')}}"
</script>
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/schedule.css')}}" />
{{include "inc_schedule.html"}}
{{include "SiteView2013/inc_data.html"}}
{{end}}

{{block content}}
	<h2 class="section-title">PyConChina_珠海</h2>
	<h4>时间: <small>2013年12月08日 9:30 ~ 17:30</small></h4>
	<h4>地点: <small>金山软件大厦</small></h4>

    <h2 class="section-title">{{=_('日程安排 (确认~30%)')}}</h2>

    {{for data, d in [(schedule_zh_1208, _('2013年12月8日(星期日)')), 
        ]:}}
        {{write_schedule(data, d)}}
    {{pass}}

{{end}}
