<script>
$(function(){
    $.get('/'+ {{=year}} +'/speakers', function(data){
        var $tds = $("tr td:nth-child(3)");
        $tds.each(function(i, e){
            var speaker;
            var fullname = $(e).text();
            for (var i=0; i<data.length; i++){
                if (data[i].fullname.indexOf(fullname) != -1){
                    speaker = data[i];
                    $(e).popover({
                        title: fullname, 
                        content: function(){
                            var tip = ""
                            if (speaker.avatar){
                                tip += '<img src="/static/images/speakers/' + speaker.avatar + '" alt="' + speaker.fullname + '" />';
                            }else{
                                tip += '<img src="/static/images/speakers/nopic.gif" alt="' + speaker.fullname + '" />';
                            }
                            if (speaker.company){
                                tip += "<strong>{{=_('组织：')}}</strong>" + speaker.company + '<br />';
                            }
                            if (speaker.position){
                                tip += "<strong>{{=_('头衔：')}}</strong>" + speaker.position + '<br />';
                            }
                            tip += "<strong>{{=_('简介：')}}</strong>" + speaker.desc;
                            tip += '<div style="clear:both; "></div>';
                            return tip;
                        },
                        html: true
                    });
                }
            }
        });
    });
});
</script>

{{def write_schedule(data, date):}}
<table class="table table-striped table-bordered table-hover">
    <caption>{{=d}}</caption>
    <colgroup>
          <col class="col-xs-2">
          <col class="col-xs-2">
          <col class="col-xs-6">
    </colgroup>
    <thead>
        <tr>
            <th>{{=_('时间')}}</th>
            <th>{{=_('演讲者')}}</th>
            <th>{{=_('主题')}}</th>
        </tr>
    </thead>
    <tbody>
    {{for row in data:}}
        {{row = list(row)}}
        {{if len(row)==2:}}
            <tr>
                <td>{{=row[0]}}</td>
                <td colspan="2">{{=row[1]}}</td>
            </tr>
        {{else:}}
            <tr>
                <td>{{=row[0]}}</td>
                <td>{{=row[1]}}</td>
                <td>{{<< row[2]}}</td>
            </tr>
        {{pass}}
    {{pass}}
    </tbody>  
</table>
{{pass}}
