{{
    sponsors_data = [
        {
            'name':_('创智天地'),
            'url':'http://www.kic.net.cn/',
            'logo':'images/sponsors/chuangzhitiandi.jpg',
            'description':[
                _('创智天地位于上海市杨浦区的江湾五角场城市副中心的中部地块，占地84万平方米，总建筑面积超过100万平方米。由杨浦区政府和瑞安房地产联手规划开发，并聘请国际一流设计团队参与打造，共同实现城区再造的历史使命。创智天地由创智天地广场、创智坊、江湾体育中心、创智天地科技园四个部分组成，它们各具功能，相辅相成。'),
            ],
            'level':2,
            'where':'sh',
            'order':2,
        },
        {
            'name':_('Google'),
            'url':'http://www.google.com/',
            'logo':'images/sponsors/google.png',
            'description':[
                _('Google是一家以提供搜索服务、并向企业客户提供广告服务为重点的盈利公司。Google以其搜索迅速、准确、容易使用等特点，被公认为是世界最佳搜索引擎。'),
            ],
            'level':1,
            'where':'bj,sh',
            'order':1,
        },
        {
            'name':_('土豆'),
            'url':'http://www.tudou.com/',
            'logo':'images/sponsors/tudou.png',
            'description':[
                _('土豆网(Tudou.com)是中国最早和最具影响力的视频分享网站，是中国网络视频行业的领军品牌，也是全球最早上线的视频分享网站之一。王微是土豆网创始人兼CEO。'),
                _('土豆网于2005年4月15日正式上线，每天独立用户数超过2500万，每月2亿用户，拥有超过8000万的注册用户。2011年8月17日，土豆网在美国纳斯达克上市，股票代码：TUDO。'),
            ],
            'level':2,
            'where':'bj,sh',
            'order':1,
        },
#        {
#            'name':_('热酷'),
#            'url':'http://www.rekoo.com/',
#            'logo':'images/sponsors/reku.gif',
#            'description':[
#                _('热酷是中国和日本领先的社会化游戏研发运营商，我们的愿景是变革全球网络游戏行业，为全球用户提供精品社会化游戏。经过近两年的高速发展，热酷的精品社会化游戏遍布全球，目前已拥有近两千万的日活跃用户，正在成为全球最大的社会化游戏公司之一。热酷总部位于中国北京，并在全球多个国家开设办事处。'),
#            ],
#            'level':2,
#            'where':'bj',
#            'order':999,
#        },
        {
            'name':_('金山网络'),
            'url':'http://www.ijinshan.com/',
            'logo':'images/sponsors/jinshan.gif',
            'description':[
                _('金山网络科技有限公司成立于2010年11月，总部位于北京，其前身是金山安全软件有限公司和可牛科技有限公司。两家公司于2010年10月完成合并整合，成立了全新的金山网络科技有限公司。金山网络科技有限公司继承了金山安全强大的研发实力和可牛科技对互联网产品的敏锐反应能力，为上亿互联网用户提供以安全为核心的多种互联网应用服务。金山安全实验室及金山网络研发中心设立在珠海。'),
            ],
            'level':3,
            'where':'bj',
            'order':1,
        },
        {
            'name':_('盛大云'),
            'url':'http://www.grandcloud.cn/',
            'logo':'images/sponsors/grandcloud.png',
            'description':[
                _('是在整合盛大集团资源的基础上，百分百自主技术研发而成的公有云平台。2011年7月22日，“盛大云”宣布开放公测。同年9月底，“盛大云”成为盛大集团旗下的子公司开始独立运营。“盛大云”以国际领先的AWS模式，已推出国内第一家按需计费的云主机、第一家面向公有云专门开发的Key-Value云存储、第一家云硬盘、第一家自助化的CDN加速产品、第一家在线MongoDB、永久免费的云监控、及网站云、数据库云等产品。“盛大云”以用户为中心，以快速的步伐不断满足客户在主机租赁、存储扩展、网络加速、快捷建站、数据库服务等方面的基础设施需求。产品以按需使用、弹性扩展、高可靠、高安全、高可控为核心特点。'),
            ],
            'level':3,
            'where':'bj',
            'order':4,
        },
        {
            'name':_('豆瓣'),
            'url':'http://www.douban.com/',
            'logo':'images/sponsors/douban.gif',
            'description':[
                _('豆瓣成立于2005年3月，目前已拥有5,300多万注册用户。豆瓣一直致力于帮助都市人群发现生活中有用的事物，通过书影音、小组、小站、同城、豆瓣说等多产品及相关移动应用来服务都市生活的不同领域。'),
            ],
            'level':3,
            'where':'bj',
            'order':3,
        },
        {
            'name':_('OpenShift'),
            'url':'http://openshift.redhat.com',
            'logo':'images/sponsors/openshift.jpg',
            'description':[
                _('OpenShift是RedHat提供的免费、可自动扩展的Web应用平台即服务（PaaS）。作为云上的应用平台，OpenShift为您管理一些繁琐细节，使您可以专注于应用开发。红帽OpenShift通过为开发人员提供在语言、框架和云上的更多的选择，使开发人员可以构建、测试、运行和管理他们的应用。红帽OpenShift提供比任何PaaS更多的灵活性，它支持用于Java、Python、PHP、Perl、Ruby和Node.js的更多的开发框架，包括 Spring、Seam、Weld、CDI、Rails、Rack、Symfony、Zend Framework、Twisted、Django和Java EE。它包含SQL和NoSQL数据存储和一个分布式文件系统。OpenShift独一无二的优势是它为PaaS带来行业领先的红帽和JBoss的生态环境，使开发人员可以利用业界最广泛的中间件服务。例如，OpenShift支持MongoDB和其它获得红帽企业 Linux认证的服务。由于支持广泛的框架和语言，包括Java、PHP、Python和Ruby，红帽OpenShift为云计算的开发人员提供更全面 的功能集合。 '),
            ],
            'level':3,
            'where':'bj',
            'order':5,
        },
        {
            'name':_('易度云办公'),
            'url':'http://everydo.com/',
            'logo':'images/sponsors/yidu.gif',
            'description':[
                _('广州润普网络科技有限公司( http://zopen.cn )自2002年成立以来，立足于开放源代码软件的专业技术开发与服务。为客户提供基于Zopen/Plone等开放源代码软件的企业内容管理、项目管理、文档管理、知识管理和产品解决方案，提供信息系统咨询、开发、支持等服务，以及Zopen/Plone的培训服务。'),
            ],
            'level':3,
            'where':'sh',
            'order':8,
        },
        {
            'name':_('三技科技'),
            'url':'http://3gland.com/',
            'logo':'images/sponsors/3gland-logo.png',
            'description':[
                _('3Gland提供专业的国内外网络访问服务网络解决方案以及数据中心业务，根据用户需求，提供对应解决方案和网络带宽，满足个性化定制。3Gland总公司辽宁三技科技有限公司成立于1997年，是全国IDC业务服务平台，具有互联网信息服务（ICP）和互联网数据中心（IDC）以及移动网增值业务经营许可证（SP）资质；也是国家通讯管理局指定的备案接入商之一。'),
            ],
            'level':3,
            'where':'bj',
            'order':6,
        },
        {
            'name':_('齐治科技'),
            'url':'http://www.shterm.com/',
            'logo':'images/sponsors/qizhi-logo.png',
            'description':[
                _('“浙江齐治科技有限公司”原名“杭州奇智信息科技有限公司”，是一家由运维管理专家创立、国内唯一专注于运维操作管理领域的创新型科技企业，并致力于成为领先的运维操作管理整体解决方案供应商和服务商。 公司成立于2005年10月，总部位于杭州，在北京、上海、广州设有技术支持中心。目前，齐治运维操作管理系统（俗称“运维堡垒机”）已广泛被应用于运营商、金融、互联网、电力、烟草、政府等多个高端行业、超百家高端客户的核心网络中。'),
            ],
            'level':3,
            'where':'sh',
            'order':8,
        },
        {
            'name':_('图灵社区'),
            'url':'http://www.ituring.com.cn',
            'logo':'images/sponsors/turingbook.gif',
            'description':[
                _('北京图灵文化发展有限公司成立于2005年6月，由人民邮电出版社投资控股，以策划出版高质量的科技书籍为核心业务，主要出版领域包括计算机、电子电气、数学统计、科普等，公司以促进科技发展为己任，通过引进国际高水平的教材、专著，以及发掘国内优秀原创作品等方式，为目标读者提供一流的内容。经过短短几年的发展，图灵公司已经成为计算机出版行业里较有影响的出版单位。公司推出了一系列高质量的畅销技术图书，如《C++ Primer中文版》、《UNIX环境高级编程》、《Linux程序设计》等，都已经成为深受广大程序员欢迎的经典著作，公司对于计算机技术发展趋势有较强的把握能力和独到的眼光，出版的图书紧跟各种技术的发展，及时满足了行业需要。在电子电气领域，公司出版了一系列国际知名专家的著作，不少作者是IEEE资深会士和业界精英。在数学方面，公司翻译和影印了一大批获菲尔兹奖和沃尔夫奖的数学家的作品，有力地开拓了读者的视野。'),
            ],
            'level':4,
            'where':'bj,sh',
            'order':2,
        },
#        {
#            'name':_('ScriptFan'),
#            'url':'http://scriptfan.com/',
#            'logo':'images/sponsors/scriptfan.jpg',
#            'description':[
#                _('ScriptFan技术沙龙社区始于2010年9月,由davidx和roamin92个人发起,目前已经举办了10余期。ScriptFan是一个以技术作为导向, 以脚本语言作为基石, 以应用作为方向的一个技术型的开放社区,任何人都可以加入其中,分享自己的心得,同时收获别人的经.沙龙每个月组织一期线下活动,时间订在每个月的第二周的周六下午1点半,地点为西安软件园秦风阁D201活跃网络办公室.'),
#            ],
#            'level':'',
#            'where':'',
#        },
        {
            'name':_('知乎'),
            'url':'http://zhihu.com/',
            'logo':'images/sponsors/zhihu.png',
            'description':[
                _('知乎（Zhihu.com）是中国最好的社交问答网站。知乎的愿景是「把人们大脑里的知识、经验和见解搬上互联网，让人们彼此更好的链接」。自2011 年 1 月 26 日上线以来，知乎迅速成为国内互联网的高成长产品，吸引了李开复、马化腾、徐小平、雷军等业界领袖入住，并通过一年的发展，成为中国互联网知识分享，知识社交领域排名第一的网站。在知乎上，不同领域、专业背景的人有了展示自身价值的机会，也让高质量内容被源源不断生产有了一片土壤。以问答为起点的知乎，已经开始逐步成为一线城市白领工作、生活各个方面的求知、交流的生活方式。'),
            ],
            'level':5,
            'where':'bj',
            'order':1,
        },
        {
            'name':_('阿里云'),
            'url':'http://aliyun.com/',
            'logo':'images/sponsors/aliyun.png',
            'description':[
                _('阿里云计算有限公司成立于2009年9月10日，在杭州、北京和硅谷等地设有研发中心和运营机构。阿里云的目标是打造互联网数据分享第一平台，成为以数据为中心的云计算服务公司。'),
                _('在未来的互联网中，云计算将会成为一种随时、随地，并根据需要而提供的公共服务。高效的绿色数据中心以及能支持不同互联网应用的大规模分布式存储和计算是营造下一代互联网服务平台最基本的核心技术。'),
                _('阿里云致力于打造公共、开放的云计算服务平台。我们将借助技术的创新，不断提升计算能力与规模效益，将云计算变成真正意义上的公共服务。与此同时，我们将通过aliyun.com，用互联网的方式使得大家可以便捷的按需获取阿里云的云计算产品与服务。'),
                _('我们希望更多的合作伙伴、中小企业、开发者能够受益于云计算带来的便利和价值，从而促进云生态系统的健康发展。'),
            ],
            'level':3,
            'where':'bj,sh',
            'order':7,
        },
        {
            'name':_('Admaster'),
            'url':'http://www.admaster.com.cn',
            'logo':'images/sponsors/admaster.jpg',
            'description':[
                _('AdMaster 精硕科技是中国领先的独立第三方数字营销全流程效果监测、分析评估、媒介优化咨询服务和技术解决方案供应商。AdMaster成立于 2006 年，设有上海、北京、广州 3 家公司。'),
                _('AdMaster 将多年对中国网络营销的理解和实践经验注入产品的研发和创新，现旗下拥有TrackMaster、PlanMaster、WeiboMaster、BuzzMaster、SurveyMaster、CSRMaster、PanelMaster、SiteMaster、ReviewMaster等九大核心产品，为广告主提供包括媒体审计、优化咨询、受众分析、微博和社交媒体评估、舆情监测、在线调研等全方位的效果评估解决方案。'),
            ],
            'level':4,
            'where':'bj',
            'order':1,
        },
        {
            'name':_('遛宝网'),
            'url':'http://www.liubao.com/',
            'logo':'images/sponsors/liubao_2012.jpg',
            'description':[
                _('遛宝开源平台，不只是免费的虚拟主机，我们致力于通过领先科技，来释放我们所有关于 python 的梦想，次世代技术让曾经难以置信的应用类型在今天即可完美呈现。开放平台更可以让您无拘无束地进行创造，通过平台的各项接口以及源码，您可以轻易在平台上创作网站及应用，甚至改变平台本身。除此之外，遛宝开放的运营政策允许您在平台上经营您的产品，通过平台的运营功能，在为您的用户创造幸福的同时，实现自己的幸福。忠于实用之美，亦或乐于尝鲜新、奇、酷，开创一片新天地，就是遛宝开源平台。'),
            ],
            'level':5,
            'where':'sh',
        },
        {
            'name':_('SAE'),
            'url':'http://sae.sina.com.cn/',
            'logo':'images/sponsors/sae.jpg',
            'description':[
                _('新浪是一家服务于中国及全球华人社群的在线媒体及移动增值服务提供商。新浪拥有多家地区性网站，以服务大中华地区与海外华人为己任，通过旗下业务主线：提供网络新闻及内容服务的新浪网(SINA.com)、提供微博客服务的微博(Weibo.com)、提供移动增值服务的新浪无线(SINA Mobile)，以及其他业务，向广大用户提供包括地区性门户网站、移动增值服务、微博、博客、影音流媒体、相册分享、网络游戏、电子邮件、搜索、分类信息、收费服务、电子商务和企业电子解决方案等在内的一系列服务。'),
            ],
            'level':3,
            'where':'bj',
            'order':2,
        },
        {
            'name':_('博文视点'),
            'url':'http://www.broadview.com.cn/',
            'logo':'images/sponsors/broadview.png',
            'description':[
                _('电子工业出版社计算机图书出版分社优势整合了电子社旗下三大公司——博文视点、易飞思、华信卓越的计算机图书出版的精锐力量，合并了各自运营的计算机图书出版业务，强调计算机图书出版业核心竞争力，力求为我们的读者提供更多、更好、更专业的计算机图书出版物，力求为我们的作者提供服务更优质、增值更快的出版服务平台，力求为我国的IT业发展贡献自己的力量。'),
            ],
            'level':4,
            'where':'bj,sh',
            'order':3,
        },

#        {
#            'name':_(''),
#            'url':'',
#            'logo':'',
#            'description':[
#                _(''),
#                _(''),
#            ],
#            'level':,
#            'where':'',
#        },
        {
            'name':_('亿美软通'),
            'url':'http://www.emay.cn/',
            'logo':'images/sponsors/emay.jpg',
            'description':[
                _('北京亿美软通科技有限公司（ Beijing Emay Softcom Technology Ltd.）是国际数据集团风险投资（IDG资本）在华注资的高科技企业、全球最大的信用局和数据营销公司Experian（益百利）的中国战略合作伙伴，是具备国际水准的移动商务平台技术和应用方案提供商。自2001年成立以来，亿美软通始终致力于为国内外企业提供具备国际技术水准的移动商务平台及运营服务。目前，亿美软通已为超过40万家企业提供移动个性客服、移动数据采集、移动高效管理等方面的各类移动商务产品和通讯服务，业务服务覆盖超过5亿手机用户，是中国领先的移动商务服务商。'),
            ],
            'level':4,
            'where':'bj,sh',
        },
        {
            'name':_('上海寰享网络科技'),
            'url':'http://www.openerp.net.cn/',
            'logo':'images/sponsors/elico.jpg',
            'description':[
                _('上海寰享网络科技有限公司是OpenERP在中国的正式合作伙伴。主要为中小企业提供开源管理软件安装的相关咨询服务。公司产品覆盖范围广，从现成的ERP模块包到为各种生产制造或服务型企业量身定作的ERP安装实施，旨在帮助客户有效启动他们的业务。'),
                _('成功安装实施OpenERP的关键在于如何将专业IT知识，公司业务流程分析及跨文化管理巧妙融合。上海寰享具有丰富行业经验的中，欧OpenERP咨询顾问协助您实现这一过程： 了解客户公司现有业务流，结合客户公司服务范围，我们的IT经验及供应链来设计合适解决方案。'),
                _('从那里，我们将带领您到一个完整的OpenERP工作的解决方案，包括服务器设置，数据迁移或流程定制。 此外，我们提供您的员工技术和功能培训（普通话和英语都可），以便顺利传授OpenERP使用和操作方法。'),
                _('最后但并非最不重要的，我们的“软件即服务”为您提供提供一个简单，可靠，高效的平台来管理贵公司。'),
                _('公司总部目前在上海，我们的业务主要分布在中国：江苏省（苏州，南京，无锡等…），浙江（杭州，宁波等…），北京，深圳等等.'),
            ],
            'level':3,
            'where':'sh',
        },
        {
            'name':_('玩客'),
            'url':'http://newsnsgame.com/',
            'logo':'images/sponsors/oneclick.jpg',
            'description':[
                _('上海玩客网络科技有限公司，成立于2010年。总部位于上海徐家汇，公司管理层来自海内外多家国际知名游戏公司。'),
                _('玩客网络一直致力成为“全球最好的智能手机游戏缔造商”，通过拥有自主知识产权、国际领先的游戏HARD CORE，为全球手机用户提供优质的移动互联网娱乐体验。我们一开始就把眼光瞄准了全球，和国际一流的平台运营商建立了长期合作关系，旗下手机游戏产品在日本、亚洲、欧美等多个国家和地区上线运营。'),
            ],
            'level':3,
            'where':'sh',
        },
        {
            'name':_('九州云'),
            'url':'http://99cloud.net/',
            'logo':'images/sponsors/99cloud.jpg',
            'description':[
                _('浙江九州云信息科技有限公司是由两家领先的IDC公司上海世纪互联信息系统有限公司、北京智博瑞通电信技术有限公司，在湖州市政府鼎力支持下由湖州市信息技术服务公司、湖州吴兴区科技发展有限公司出资入股共同成立。企业于2012年5月正式运营， 注册资本1000万元。'),
                _('九州云主营业务是提供客户基于开源云系统OpenStack的私有云建设的解决方案及混合云的搭建及运营。 公司立足华东、服务于全国和东南亚的企业和运营商， 致力打造成为中国最专业的开源云计算技术提供商。'),
                _('公司在上海、北京设有分支机构并在两地拥有大规模的IDC机房及丰富的电信资源。公司的技术团队在开源云社区中积极贡献， 并在全球的OpenStack基金会中拥有董事席位。 九州云愿意与产业上下游的公司积极合作， 做大做强中国的云计算产业。'),
            ],
            'level':4,
            'where':'sh',
        },
        {
            'name':_('天云科技'),
            'url':'http://www.chinaskycloud.com/',
            'logo':'images/sponsors/chinaskycloud.png',
            'description':[
                _('“中国云”的建设者和领导者，云系统专家-北京天云融创科技有限公司（简称天云科技），成立于2009年，为全力推动中国进入云时代，而聚合全球一流人才和顶尖云技术，服务于中国。 作为“中国云”的首席传播者，天云科技为客户量身打造云服务架构，专注成为优于世界水准的云计算系统集成、咨询服务、平台优化、云系统维护等专业服务的解决方案供应商。'),
                _('天云科技以“助力中国进入云时代”为使命，在云计算时代的浪潮中，提供专业专精的技术、产品与服务，并让“中国云”成为世界上最具竞争力的新信息技术平台之一。 天云科技人才云集，高管团队由具有国际化背景和本地化经验的优秀人才构成，核心成员均为从美国硅谷回国创业人员，曾分别服务于各大国际知名电信和网络运营商及跨国企业；核心技术人员主要来自微软、Oracle、西门子等信息技术源地；在软硬件研发、系统集成与管理等方面从事多年开发和研究。'),
                _('天云科技面向新兴市场和应用，与合作伙伴力量紧密结合，在中国逐步建立并完善产品开发与市场营销体系，并针对“中国云”的特点和应用需求，提供个性化解决方案和本地化服务支持。目前，天云科技已经在北京、上海、广州、深圳建立销售和技术支持中心，并设立哈尔滨、济南、南京、杭州、成都等十多家销售分支结构。另外，天云科技与业界具有独特技术与产品的云计算提供商，建立了合作伙伴关系，涵盖分布式计算、海量存储、万兆交换、瘦终端、虚拟化、云管理、云安全等领域，我们将世界上最优秀的云计算技术、产品与服务引入中国，服务中国客户，让中国与世界同步迎接云计算时代的到来。'),
                _('在国际化专业管理团队带领下，天云科技坚持以技术进步和创新为导向，准确把握市场动态，不断锐意进取，致力成长为业界领先的云计算服务提供商。'),
            ],
            'level':5,
            'where':'xa',
        },
        {
            'name':_('活跃网络'),
            'url':'http://www.activenetwork.com/',
            'logo':'images/sponsors/activenetwork.png',
            'description':[
                _('活跃网络(The Active Network™)公司是全球领先的互联网在线产品及服务的软件及解决方案提供商。总部位于美国加利福尼亚州的圣地亚哥 (San Diego，California) 。Active Network主要服务于体育组织、高等教育机构、社区组织、公益组织和政府机构等领域的协同化商务软件及解决方案。Active Network提供一体化的技术解决方案、市场服务以及在线媒体平台以激发大众对各种活动和赛事的热情，并帮助他们能够方便的参与其中。'),
                _('Active Network公司同时也引进一项技术和市场解决方案来帮助社团和组织管理项目、设施、会员资格、注册、募捐及网页内容。被活跃收购的技术中，其中一项是由Recware作为主导第一次推出的，用于娱乐行业帮助用户进行网上注册。在那项产品之后，活跃又合并了一些在业界处于领导地位的软件提供商，以及一些网上著名机构如ActiveNet (RecNet) 和Class Software, Ltd.。这些收购为公司带来了额外30年的对娱乐和市政管理软件解决方案的经验。2008年，Active Network收购了美国市场前两位的在线会议管理解决方案提供商WingateWeb和RegOnline，从而一跃在此类市场上也成为了领跑者。'),
                _('公司致力于在线社区管理的同时，也将其目光投向寻找其他方法运用科学技术来支持参与并且寻找新的方法管理体育赛事，运动项目及一些能够培养人们健康、积极的生活方式的组织。'),
                _('公司设立了全套服务的市场及推广机构 Active Marketing Group ， 用来帮助知名商家和活跃客户的交流。'),
            ],
            'level':5,
            'where':'xa',
        },
       
    ]
    
    media_data = [
        {
            'name':_('InfoQ'),
            'url':'http://www.infoq.com/',
            'logo':'images/sponsors/infoq.gif',
            'description':[
                _('InfoQ.com（Information Queue）是一个时刻关注企业软件开发领域变化与创新的在线独立社区，读者受众群主要为技术架构师、技术团队带头人（高级开发人员）和项目经理等。通过由各个技术领域专家提供的最新的新闻、技术文章、视频访谈、视频演讲和迷你书等，InfoQ 为Java、.NET、Ruby、SOA、敏捷、架构和运维七大社区提供一流的资讯。InfoQ全球站正式启动于2006年6月8日，InfoQ中文站正式启动于2007年3月28日，以推动我们所服务的社区的进步为首要使命。'),
            ],
            'level':'',
            'where':'',
        },
        {
            'name':_('CSDN'),
            'url':'http://www.csdn.net/',
            'logo':'images/sponsors/csdn.gif',
            'description':[
                _('CSDN创立于1999年，是中国最大的中文IT知识服务集团，专注IT信息传播、技术交流、教育培训和专业技术人才服务。拥有超过1800万注册会员、10000名CTO、50万注册企业及合作伙伴，全球中文网站排名第27位。长期以来，CSDN以技术视角关注IT产业发展，以深度分享推进产业技术成长，致力于弘扬技术创新，倡导分享、开放和协作，努力打造高质量的中文IT技术交流平台。'),
            ],
            'level':'',
            'where':'',
        },
        {
            'name':_('51CTO.COM'),
            'url':'http://www.51cto.com/',
            'logo':'images/sponsors/51cto.png',
            'description':[
                _('专注于IT技术创新与发展的互联网媒体，坚信“技术成就梦想”。'),
            ],
            'level':'',
            'where':'',
        },
        
    ]
    
    schedule_sh_1020 = [
        ('08:30 - 09:15', _('签到')),
        ('09:15 - 09:30', _('开场'), _('组织者 & 赞助商'), _('包括来自赞助商 Google、主办方 GDG、TopGeek、CPyUG 的代表进行组织介绍。')),
        ('09:30 - 09:35', _('大会致辞《Python 继续令世界精彩》'), _('陈世欣')),
        ('09:35 - 10:15', _('Video 联播《世界各国 Python 高手的演讲》'), _('各国 Pythoner')),
        ('10:15 - 11:05', _('《Python 产品构建与发布指南》'), _('沈崴'), '', 'PYTHON产品创建与发布指南.pdf'),
        ('11:15 - 12:00', _('《让程序运行更快》'), _('李小红'), '', '让程序运行更快.pdf'),
        ('12:00 - 13:00', _('午餐')),
        ('13:00 - 13:45', _('《OpenERP 即将推出的第 7 版的功能和新的编程框架介绍》'), _('Eric Caudal'), '', 'OpenERP 即将推出的第 7 版的功能和新的编程框架介绍.pdf'),
        ('13:55 - 14:40', _('《元编程在 Redis ORM 中的应用》'), _('许智翔')),
        ('14:50 - 15:20', _('《用 Tornado 开发 RESTful API 应用》'), _('李飞林'), '', '用Tornado开发RESTful API运用.pdf'),
        ('15:25 - 15:45', _('《阿里云之移动开发者上云》（快速演讲）'), _('刘飞'), '', '阿里云计算开放平台与产品v3.pptx'),
        ('15:45 - 16:00', _('茶歇')),
        ('16:00 - 16:30', _('《Python如何帮助「逆转三国」获得成功》'), _('车蕙怡'), '', 'Pycon-Onclick的成功之鑰.ppt'),
        ('16:40 - 17:30', _('《实战游戏客户端》'), _('林伟'), _('林伟将给大家分享他们把 Python 应用在游戏开发中的各种技术关键点。')),
        ('17:40 - 18:00', _('《网页游戏的跨界开发》'), _('董诣'), '', '网页游戏的跨界开发.pptx'),
        ('-19:00 - 21:00', _('把酒话英雄'), _('Python 爱好者与嘉宾们晚宴'), _('Python 参会者们与嘉宾们在晚餐桌上继续深度沟通和交流。完全开发，全互动沟通。注意，这个晚宴人人都可报名参加，但是需要支付自己的餐费（即AA制）。')),
    ]   
    
    schedule_sh_1021 = [
        ('08:30 - 09:20', _('签到')),
        ('09:20 - 09:30', _('日程介绍'), _('预告当日活动')),
        ('09:30 - 10:12', _('《网游开发中的 Python 组件》'), _('赖勇浩'), _('介绍在网站开发和运维中用到的各种 Python 工具和相关插件。')),
        ('10:23 - 11:05', _('《自动化即时战斗游戏解决方案》'), _('王健')),
        ('11:15 - 12:00', _('《ZTQ：基于Redis的任务队列实现》'), _('潘俊勇'), _('ZTQ是一个基于Redis的开源异步任务队列系统。此主题将涵盖队列用途、ZTQ使用、开发实现等内容。')),
        ('12:00 - 13:00', _('午餐')),
        ('13:00 - 13:45', _('《Pyramid Web Framework for Advanced Web Applications》'), _('黄峥峼'), _('Google查一下Python Web框架，常常会搜到 Django。Django 是个很棒，很容易用的框架。可是大家有没有听过 Python 其他的 Web 框架呢？其中一个比较特别的是Pyramid。在中国，Pyramid 比较少人用。这个演讲将会介绍一些 Pyramid 特有的功能如：Traversal, Events, Subscriber, Scaffolds 还有一些额外好用的包如：Webassets, Gunicorn. 整体会介绍从开发到部署的过程。希望听了我的演讲后可以考虑用用看Pyramid这个框架。')),
        ('13:55 - 14:40', _('《人人可以化半小时开发一个全功能 OpenERP 模块》'), _('Tony Gu')),
        ('14:40 - 14:55', _('茶歇')),
        ('14:55 - 15:10', _('《Python in Gentoo Linux》(Lightning talk)'), _('Patrick Lauer')),
        ('15:10 - 15:25', _('《使用 Python 和 Django 建设维护学校门户》（快速演讲）'), _('于夏桥')),
        ('15:25 - 15:40', _('《Python 在 Linux 运维中的应用》（快速演讲）'), _('吴晗'), _('介绍如何使用 Python 做 Linux 系统管理（一些实用工具的介绍），RPM 包管理，运维系统开发，系统监控，日志分析以及文档等方面的内容。')),
        ('15:40 - 15:55', _('《用 Python 替换 C 代码》（快速演讲）'), _('Adieu')),
        ('15:55 - 16:10', _('《NOSQL 和 MySQL 在 Django 上的混合使用》（快速演讲）'), _('黄昶')),
        ('16:10 - 16:25', _('《用myTestCase模块来做python的UT》（快速演讲）'), _('陈钢'), _('一个Python的UT框架，基于pyunit增加了stub和mock，以及对打印的检查功能。')),
        ('16:25 - 16:40', _('《基于nova的自动扩展和负载均衡》（快速演讲）'), _('刘明华'), _('在对nova虚拟机监控的基础上，使用报警触发，实现自动扩展。并使用负载均衡设备，在OSI四层或者七层上对多个虚拟机实例，实现自动负载均衡配置。')),
        ('16:40 - 17:20', _('互动论坛 & 快速演讲现场报名'), _('参会人员'), _('参会的 Python 爱好者们以及嘉宾们在现场互动交流，参会者可以现场报名即兴演讲。')),
        ('17:20 - 18:00', _('快速演讲环节，穿插抽奖等互动活动')),
    ]
    
    schedule_bj_1020 = [
        ('08:30 - 09:15', _('签到')),
        ('09:15 - 09:30', _('开场'), _('组织者&赞助商'), _('包括来自赞助商Google，主办方GDG, TopGeek, CPyUG, 42区的代表进行组织介绍。')),
        ('09:30 - 09:35', _('大会致辞  更加欢乐的一年'), _('Zoom.Quiet')),
        ('09:35 - 10:00', _('Video联播《世界各国Python高手的演讲》'), _('各国Pythoner'), _('播放来自美国、欧洲、澳洲，以及来自北京、深圳等地的Python高手代表的视频演讲，虽然他们不能前来参加，但是视频形式也一样可以参与。在同样用Python的世界，也许未来某一天有机会面对面。包括Python创始人Guido的视频演讲，以及Pylons框架的核心成员、前好看薄的创始人等的视频演讲等。')),
        ('10:00 - 10:45', _('《 OpenShift - Develop and scale apps in the cloud 》'), _('Lu Linqing'), _('OpenShift is Red Hat\'s free, auto-scaling Platform as a Service (PaaS) for applications. As an application platform in the cloud, OpenShift manages the stack so you can focus on your code.')),
        ('10:45 - 11:20', _('《北京GDG介绍及GoogleIO大会新技术阅览》'), _('葛涵涛')),
        ('11:20 - 12:00', _('《盛大云引擎 – 发展中的PaaS平台》'), _('刘海丰'), _('介绍盛大云计算PaaS平台 - 云引擎的现状与roadmap。云引擎的应用管理框架基于CloudFoundry, 后台集成了盛大云的各种基础服务，并对Python有良好的支持')),
        ('12:00 - 13:00', _('午餐/豆瓣乐队助兴!')),
        ('13:00 - 13:30', _('《豆瓣从开发到发布过程中的持续集成/发布工程实践》'), _('孙毅'), _('和大家分享豆瓣阅读这个产品开发到发布过程中的持续集成/发布工程实践。项目进行的过程中，大家针对遇到的问题一一提出完善方案，并且一起实施，这个过程，是真正的工程实践。包括本地构建环境和脚本系统；jenkins系统；代码静态检查；单元测试；api测试；webtest；打包；发布；ios自动化实践；线上监控等，全部是工程师们在项目进行的过程中不断改进的结果。')),
        ('13:30 - 14:00', _('《SAE Python的发展历程》'), _('陈峰'), _('介绍SAE Python云计算平台的现状，架构以及演变的历程。')),
        ('14:00 - 14:15', _('《基于OpenStack建设公有云平台的开发实践》（快速演讲）'), _('程辉'), _('OpenStack因其良好的体系架构和扩展性，吸引着越来越多的公司和开发者加入。新浪云计算团队较早地加入到OpenStack社区，并积极参与社区开发和贡献，并针对IaaS平台和新浪内部需求做了大量的二次开发和功能扩展，成立了国内首个基于OpenStack的IaaS公有云平台——Sina Web Services(SWS)，目前正在邀请测试阶段。这过程中积累了一些经验和教训与大家分享。')),
        ('14:15 - 14:45', _('《飞天与阿里云云计算产品及服务》'), _('王力'), ''),
        ('14:45 - 14:55', _('休息/抽奖')),
        ('14:55 - 15:10', _('《Python 在互联网广告监测分析中的应用》（快速演讲）'), _('陆丹峰'), _('AdMaster的产品研发中有一半以上是用到 Python 的,有基于高并发大数据量采集的， 每天应对 2~3B 的请求和处理 基于tornado pypy 。目前市面上数据分析做的最好的 weibo 营销产品 WeiboMaster，使用 Django + Celery，weibo 上企业影响力第一的 durex 是其客户。AdMaster研究院做 NLP/ML 服务都是采用 Python 写的, 还有在大数据处理 Hadoop 上，我们也用到了 Python，结合 Pig 封装了自己的 DSL。可以说，Admaster将 python 用到了任何可以用的地方，真正发挥了这门通用性语言的优势。')),
        ('15:10 - 15:25', _('《社会化问答网站中的Python应用》（快速演讲）'), _('杨昆'), _('介绍在网站开发和运维中用到的各种Python工具和相关插件。')),
        ('15:25 - 15:40', _('《Python配合Hadoop 快速搭建开放型大数据仓库分析平台》（快速演讲）'), _('童小军'), _('童小军在加入暴风搜索的数据分析团队后，经过几年努力使用 python等语言搭建了一整套一个可用的Hadoop数据平台,每天处理和分析达到几十亿行。并带领团队推出 EasyHadoop(shell), ComETL(python), PhpHiveAdmin(php), CronHub(java) 等开源软件系统,丰富整个Hadoop生态系统。')),
        ('15:40 - 16:10', _('《42qu.com 代码 & 架构 导读》'), _('张沈鹏'), _('42qu.com 是一个开源的python项目;它存在的目的之一 , 是为大家提供一个python写的sns网站样板 ;经过3-4次的代码完全重构  , 我觉得到了可以献丑的时候了 ;本次 , 我将作为导游 , 带领大家一探究竟  ~＿~')),
        ('16:10 - 16:20', _('休息/抽奖')),
        ('16:20 - 16:35', _('《又一年, UliWeb 发展纪事儿》（快速演讲）'), _('李迎辉')),
        ('16:35 - 16:50', _('《Python小团队不妨知道的技术》（快速演讲）'), _('王捷'), _('扇贝网的开发者在网站成长过程中遇到的技术问题和解决方法，包括数据安全和备份，MySQL和uwsgi服务性能优化，基于Git的开发流程管理等。希望能帮助以Python/Django为主要开发语言和框架的小技术团队少走一些弯路。')),
        ('16:50 - 17:05', _('《灵活的IDC业务中如何进行Python应用部属》（快速演讲）'), _('曾庆生'), _('在大陆网络环境中, 部署python网站, 应考虑到的网络问题, 多线路、数据同步、固网用户、移动用户等等…..')),
        ('17:05 - 17:20', _('《视觉效果制作行业的工业语言——Python》（快速演讲）'), _('周辉'), _('初步介绍Python在视觉效果制作行业中的普及性、重要性和一些应用情况。')),
        ('17:20 - 17:35', _('《知识引擎的设计》（快速演讲）'), _('刘远亮')),
        ('17:35 - 17:45', _('休息/抽奖')),
        ('17:45 - 18:20', _('快速演讲：(现场报名)'), '...'),
        ('18:20 - 18:30', _('结束 抽奖')),
        ('-19:00 - 21:00', _('把酒话英雄'), _('Python 爱好者与嘉宾们晚宴'), _('Python 参会者们与嘉宾们在晚餐桌上继续深度沟通和交流。完全开发，全互动沟通。注意，这个晚宴人人都可报名参加，但是需要支付自己的餐费（即AA制）。')),
    ]
    
    schedule_bj_1027 = [
        ('09:30 - 10:30', _('签到'), _('主持人'), _('参观豆瓣,并宣告规则')),
        ('10:30 - 12:00', _('workshop'), _('SAE'), _('独家介绍SAE云平台')),
        ('12:00 - 13:00', _('组队'), _('参加人员'), _('午餐以及自由组队,并决定作品创意')),
        ('13:00 - 14:00', _('评定'), _('SAE/盛大/RedHat技术讲师'), _('评定作品工作量,太少或是太多的进行调整')),
        ('14:00 - 16:00', _('hackathon'), _('所有参加人员'), _('开始编程马拉松!')),
    ]
    
    schedule_bj_1028 = [
        ('16:00', _('完成'), _('所有团队'), _('完成作品开发')),
        ('16:00 - 16:30', _('发布'), _('所有团队'), _('完成作品的发布运行')),
        ('16:30 - 18:00', _('评定'), _('所有作品'), _('逐一进行5分钟宣讲,并现场评分,决出前5')),
    ]
    
    def _cmp(x, y):
       return cmp((x['level'], x.get('order', 999)), (y['level'], y.get('order', 999)))
    pass
    
    levels = {
        1: ('images/diamond.png', _('钻石赞助')),
        2: ('images/platinum.png', _('白金赞助')),
        3: ('images/gold.png', _('黄金赞助')),
        4: ('images/silver.png', _('白银赞助')),
        5: ('images/bronze.png', _('青铜赞助')),
    }
    def get_data(data):
        for x in sorted(data, cmp=_cmp):
            x['level_image'], x['level_title'] = levels.get(x['level'], ('', ''))
            yield x
        pass
    pass
}}

{{def put_data(data, step=5):}}
    <table class="table">
        {{rows = list(get_data(data))}}
        {{for index in range(0, len(rows), step):}}
            <tr>
                {{for row in rows[index:index+step]:}}
                    <td><a target="_blank" href="{{=row.get('url', '#')}}"><img src="{{=url_for_static(row.get('logo', ''))}}" alt="{{=row['name']}}" width="150" style="max-height:80px;"/></a></td>
                {{pass}}
            </tr><!--END grid-->
        {{pass}}
    </table>
{{pass}}
